<html>
    <table>
        <tr bgcolor='Green'>
		<td > Club </td>
		<td > League</td>
		<td> Operations </td>

	</tr>
	{%  for record in records %}

		<tr>
				<td> <a href="{{ url_for('clubInformation', clubno = record.clubno) }}"> {{ record.clubname }}</a> </td>
				<td> {{record.league}} </td>
				<td> <a href="{{ url_for('editclubForm', clubno = record.clubno) }}"> edit </a>, 
					<a href="{{ url_for('deleteClub', clubno = record.clubno) }}"> delete </a>
				</td>
		</tr>

	{% endfor %}
</table>
</html>