
<html>
    <div class='form'>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.fan_name.label }} {{ form.fan_name }}
            <br>
            {{ form.salary.label }} {{ form.salary }}
            <br>
            {{ form.location.label }} {{ form.location }}
            <br>
            {{ form.league.label }} {{form.league }}
            <br>
            {{ form.club.label }} {{ form.club }}
            <br>
            {{ form.club_id.label }} {{ form.club_id }}
            <br>
            
            {{ form.submit }}
        </form>
    </div>
    </html>