<html>
    <table>
        <tr bgcolor='Green'>
		<td > Name </td>
		<td > Club </td>
		<td > League</td>
		<td> Operations </td>

	</tr>
	{%  for record in records %}

		<tr>
				<td> <a href="{{ url_for('fanInformation', fanno = record.fanno) }}"> {{ record.name }}</a> </td>
				<td> {{record.club}} </td>
				<td> {{record.league}} </td>
				<td> <a href="{{ url_for('editfanForm', fanno = record.fanno) }}"> edit </a>, 
					<a href="{{ url_for('deleteFan', fanno = record.fanno) }}"> delete </a>
				</td>
		</tr>

	{% endfor %}
</table>
</html>